<% include partials/header.ejs %>

<div class="middlediv">
  <img src="https://www.resorgs.org.nz/wp-content/uploads/2018/11/logo-placeholder.jpeg" alt="" height="200px">
  <h1>Chill Cabin</h1>
  <p>A podcast, lol.</p>

  <div class="socialicons">
    <a href="#" class="podcast"><i class="fas fa-podcast"></i></a>
    <a href="https://www.reddit.com/r/chillcabin/" class="reddit"><i class="fab fa-reddit"></i></a>
    <a href="mailto:chillcabin@gmail.com" class="email"><i class="far fa-envelope"></i></a>
    <a href="https://discord.io/chillcabin" class="email"><i class="fab fa-discord"></i></a>
  </div>
</div>

<% include partials/footer.ejs %>
